body{
    margin: 0;
    padding: 0;
}

.main-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.wrapper {
    width: 70vw;
    height: 78vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    overflow-y: scroll;
    position: absolute;
}

/* styling for form */

.left {
    display: flex;
    width: 50%;
    height: 100%;
    margin-bottom: 5px;
}


ol li {
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;

}

li span {
    font-size: 13px;
    font-weight: normal;

}

input {
    border: none;
    border-bottom: 1px solid gray;
    padding: 12px;
}

input:focus {
    outline-color: rgba(193, 193, 193, 0.35);
    outline: none;
}

input[type="time"] {
    margin-bottom: 10px;
    width: 100px;
}

input[type="date"] {

    width: 100px;
}

/* styling for image and buttons */

.right {
    display: flex;
    width: 30%;
    height: 78vh;
    position: fixed;
    right: 0;
    margin-right: 16%;

}



img {

    height: 100%;
    width: 100%;

}

.btn {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-btn {

    padding: 0.2rem 1.2rem 0.2rem 1.2rem;
    margin: 0.5rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: rgb(193, 144, 238);
    border: 2px solid rgb(150, 77, 218);
    cursor: pointer;
}

.form-btn:hover {
    background-color: rgb(123, 21, 219);
}



/* media queries */

@media (max-width: 800px) {

    .main-wrapper {
        height: 200vh;
    }

    .wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: auto;
        /* overflow-y: scroll; */
    }

    .left {
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
    }



    .right {
        display: flex;
        position: static;
        width: 100%;
        margin-top: 0%;

    }

    .btn {
        display: flex;
        justify-content: center;
    }



}

@media (max-width: 600px) {

    .main-wrapper {
        height: 240vh;
    }


    .left {
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
    }



}

@media (max-width: 400px) {

    .main-wrapper {
        height: 240vh;
    }


    .left {
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
    }



}